    .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }
  .fade-in-out{
    text-shadow: 2px 2px 5px rgb(0, 255, 255);
    text-align: center;
    width: 100px;
    font-size: 50px;
    font-family: 'Algerian,sans-serif';
    animation: fade 5s infinite;
    animation-delay: 0.5s;
    display: inline-flex;
    margin-left: 650px;
    margin-top: 10px;
    z-index: 5;
    top: 0;
    left: 50%;
  }
 
  @keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }